# Based on Visual Studio
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: WithoutElse
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false

# ------------------------

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterFunction: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

PointerAlignment: Left

SpaceBeforeParens: ControlStatementsExceptControlMacros
SortUsingDeclarations: LexicographicNumeric
SortIncludes: CaseInsensitive
ReflowComments: true

BreakBeforeBinaryOperators: All
AlignArrayOfStructures: Left
PackConstructorInitializers: Never

AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Leave

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive

AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
