# Based on Visual Studio
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false

# ------------------------

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: WebKit
PointerAlignment: Left

SpaceBeforeParens: ControlStatementsExceptControlMacros
SortUsingDeclarations: true
SortIncludes: CaseInsensitive
ReflowComments: true
# RequiresClausePosition: OwnLine

BreakBeforeBinaryOperators: All
AlignArrayOfStructures: Left
PackConstructorInitializers: Never

AllowShortBlocksOnASingleLine: Empty
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Always

AlignAfterOpenBracket: BlockIndent
